<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyt.email.dao.SysEmailSendRecordMapper">
	
	<resultMap id="rm" type="com.xyt.email.model.SysEmailSendRecord">
		<result property="id" jdbcType="VARCHAR" column="id" />
		<result property="mailType" jdbcType="VARCHAR" column="mail_type" />
		<result property="mailSubject" jdbcType="VARCHAR" column="mail_subject" />
		<result property="mailContent" jdbcType="LONGVARCHAR" column="mail_content" />
		<result property="mailFrom" jdbcType="VARCHAR" column="mail_from" />
		<result property="mailTo" jdbcType="VARCHAR" column="mail_to" />
		<result property="sendStatus" jdbcType="INTEGER" column="send_status" />
		<result property="sendTimes" jdbcType="INTEGER" column="send_times" />
		<result property="errorMsg" jdbcType="VARCHAR" column="error_msg" />
		<result property="createName" jdbcType="VARCHAR" column="create_name" />
		<result property="lastModifyId" jdbcType="VARCHAR" column="last_modify_id" />
		<result property="lastModifyName" jdbcType="VARCHAR" column="last_modify_name" />
		<result property="lastModifyTime" jdbcType="TIMESTAMP" column="last_modify_time" />
		<result property="lastModifyIp" jdbcType="VARCHAR" column="last_modify_ip" />
		<result property="valid" jdbcType="INTEGER" column="valid" />
	</resultMap>
	
	<sql id="Base_Column_List">
        	id,
        	mail_type,
        	mail_subject,
        	mail_content,
        	mail_from,
        	mail_to,
        	send_status,
        	send_times,
        	error_msg,
        	create_name,
        	last_modify_id,
        	last_modify_name,
        	last_modify_time,
        	last_modify_ip,
        	valid
	</sql>
	
		
	<sql id="where">
		<where>
		1=1 and VALID = 1
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="mailType != null">
				AND mail_type = #{mailType}
			</if>
			<if test="mailSubject != null">
				AND mail_subject = #{mailSubject}
			</if>
			<if test="mailContent != null">
				AND mail_content = #{mailContent}
			</if>
			<if test="mailFrom != null">
				AND mail_from = #{mailFrom}
			</if>
			<if test="mailTo != null">
				AND mail_to = #{mailTo}
			</if>
			<if test="sendStatus != null">
				AND send_status = #{sendStatus}
			</if>
			<if test="sendTimes != null">
				AND send_times = #{sendTimes}
			</if>
			<if test="errorMsg != null">
				AND error_msg = #{errorMsg}
			</if>
			<if test="createName != null">
				AND create_name = #{createName}
			</if>
			<if test="lastModifyId != null">
				AND last_modify_id = #{lastModifyId}
			</if>
			<if test="lastModifyName != null">
				AND last_modify_name = #{lastModifyName}
			</if>
			<if test="lastModifyTime != null">
				AND last_modify_time = #{lastModifyTime}
			</if>
			<if test="lastModifyIp != null">
				AND last_modify_ip = #{lastModifyIp}
			</if>
		</where>
	</sql>

	
</mapper>