<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyt.email.dao.SysEmailSendRecordMapper">
	
	<resultMap id="rm" type="com.xyt.email.model.SysEmailSendRecord">
		<result property="id" jdbcType="VARCHAR" column="id" />
		<result property="mailTempleteId" jdbcType="VARCHAR" column="mailTempleteId" />
		<result property="mailSubject" jdbcType="VARCHAR" column="mailSubject" />
		<result property="mailContent" jdbcType="LONGVARCHAR" column="mailContent" />
		<result property="mailFrom" jdbcType="VARCHAR" column="mailFrom" />
		<result property="mailto" jdbcType="VARCHAR" column="mailTo" />
		<result property="sendStatus" jdbcType="TINYINT" column="sendStatus" />
		<result property="sendStatus" jdbcType="TINYINT" column="sendStatus" />
		<result property="errorMsg" jdbcType="VARCHAR" column="errorMsg" />
		<result property="workDate" jdbcType="TIMESTAMP" column="workDate" />
	</resultMap>
	
	<sql id="Base_Column_List">
        	id,
        	mailTempleteId,
        	mailSubject,
        	mailContent,
        	mailFrom,
        	mailTo,
        	sendStatus,
        	sendTimes,
        	errorMsg,
        	workDate
	</sql>
	
		
	<sql id="where">
		<where>
		1=1 and VALID = 1
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="mailTempleteId != null">
				AND mailTempleteId = #{mailTempleteId}
			</if>
			<if test="mailSubject != null">
				AND mailSubject = #{mailSubject}
			</if>
			<if test="mailContent != null">
				AND mailContent = #{mailContent}
			</if>
			<if test="mailFrom != null">
				AND mailFrom = #{mailFrom}
			</if>
			<if test="mailTo != null">
				AND mailTo = #{mailTo}
			</if>
			<if test="sendStatus != null">
				AND sendStatus = #{sendStatus}
			</if>
			<if test="sendTimes != null">
				AND sendTimes = #{sendTimes}
			</if>
			<if test="errorMsg != null">
				AND errorMsg = #{errorMsg}
			</if>
			<if test="workDate != null">
				AND workDate = #{workDate}
			</if>
		</where>
	</sql>

	
</mapper>